
#error{
    color: red;
}
.Content{
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.Content .row{
    display: flex;
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.Content .col{
    display: flex;
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

section{
    width: 100%;
    flex: 1;
}

h2{
    flex: 1;
    width: 100%;
    text-align: center;
}

#subBut{
    background-color: #262626;
    color: #F2F2F2;
    transition: 0.5s;
    border: 1px solid #F2F2F2;
    margin: auto;
    margin-top: 3%;
    width: 100px;
}

.statBox{
    border: 3px solid #000000aa;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}

#nameBox{
    width: 440px;
    margin: 0px;
    padding: 5px;
}

.textCenter{
    text-align: center;
}




.align-left{
    text-align: left;
    align-content: left;
    align-items: left;
    -webkit-box-align: left;
    justify-content: left;
    justify-items: left;
    justify-self: left;
    -ms-flex-align: left;
}
.align-center{
    text-align: center;
    align-content:     center;
    align-items:       center;
    -webkit-box-align: center;
    justify-content:   center;
    justify-items:     center;
    justify-self:      center;
    -ms-flex-align:    center;
}
.align-right{
    text-align: right;
    align-content:     right;
    align-items:       right;
    -webkit-box-align: right;
    justify-content:   right;
    justify-items:     right;
    justify-self:      right;
    -ms-flex-align:    right;
}
