#error{
    color: red;
}
.Content{
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.Content .row{
    display: flex;
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    width: 100%;
    flex: 1;
}

h2{
    flex: 1;
    width: 100%;
    text-align: center;
}

#subBut{
    background-color: #262626;
    color: #F2F2F2;
    transition: 0.5s;
    border: 1px solid #F2F2F2;
    margin: 5% 47%;
    width: 100px;
}
